<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

# Ensure correct MIME types
AddType application/javascript .js
AddType application/json .json
AddType image/x-icon .ico
AddType image/png .png
AddType image/svg+xml .svg
